p {
    color:#fff;
    font-family:"open", sans-serif;
    padding-left:20px;
    text-align:center;
    vertical-align: middle;
    font-size:18px;
}
h1 {
    color:#000;
    font-family:"open", sans-serif;
    font-size:30px;
    padding-left:20px;
}
h2{
    color:#222;
    font-family:"open", sans-serif;
    padding-left:20px;
    font-size:16px;
    font-weight:100;
    text-align:center;
    vertical-align: middle;
                
            }
h3{
  color:#fff;
    font-family:"open", sans-serif;
    padding-left:20px;
    font-size:20px;
     
}